:root {
  --root-font-size: 1;
}

html[lang="en-GB"] {
  --root-font-size: 1.6;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(10px * var(--root-font-size));
}

body {
  color: #333;
  box-sizing: border-box;
  font-family: "Poppis", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

#content,
.content {
  max-width: calc(1440px + calc(4rem / var(--root-font-size)));
  margin: 0 auto;
  padding-left: calc(2rem / var(--root-font-size));
  padding-right: calc(2rem / var(--root-font-size));
}

@media screen and (max-width: 460px) {
  #content,
  .content {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
