#empresa-configurator.svelte-3b93of.svelte-3b93of {
  font-family: "Poppins";
  box-sizing: border-box;
  position: relative;
  --primary:rgba(25, 162, 144, 1);
  --border-color:rgba(234, 234, 234, 1);
  --radius:5px;
  --box-shadow-block:0 0 40px 0 rgba(0, 0, 0, 0.07);
  display: flex;
}

#empresa-configurator.svelte-3b93of .svelte-3b93of {
  box-sizing: border-box;
}

#empresa-configurator.svelte-3b93of p.svelte-3b93of {
  margin-bottom: 0;
}

@media screen and (max-width: 860px) {
  #empresa-configurator.svelte-3b93of.svelte-3b93of {
    flex-direction: column;
  }
}
.content-container.svelte-3b93of.svelte-3b93of {
  width: 40%;
  max-width: 550px;
  flex-shrink: 4;
  flex-grow: 0;
  min-width: 370px;
}

@media screen and (max-width: 860px) {
  .content-container.svelte-3b93of.svelte-3b93of {
    width: 100%;
    max-width: none;
    min-width: 0px;
  }
}
.customization-form.svelte-3b93of.svelte-3b93of {
  box-shadow: var(--box-shadow-block);
  border-radius: var(--radius);
  overflow: hidden;
}

.customization-form.svelte-3b93of > .svelte-3b93of:last-child {
  border-bottom: none;
}

.customization-form-content.svelte-3b93of.svelte-3b93of {
  padding: 1.5rem;
  padding-bottom: 0.25rem;
  border-radius: 0 0 var(--radius) var(--radius);
}

.form-title.svelte-3b93of.svelte-3b93of {
  height: 74px;
  background: var(--primary);
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: var(--radius) var(--radius) 0 0;
  color: white;
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 860px) {
  .form-title.svelte-3b93of.svelte-3b93of {
    display: none;
  }
}
.image-frame-container.svelte-3b93of.svelte-3b93of {
  flex-grow: 2;
  flex-shrink: 1;
}

.sticky.svelte-3b93of.svelte-3b93of {
  position: sticky;
  top: 15vh;
  margin: 0 auto;
}

#booking-button.svelte-3b93of.svelte-3b93of {
  background: var(--primary);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  color: white;
  border-radius: 4px;
}

.booking-info.svelte-3b93of.svelte-3b93of {
  font-weight: 300;
  text-align: center;
  font-size: 0.875rem;
}

.submit-container.svelte-3b93of.svelte-3b93of {
  margin-top: 1rem;
  background: white;
  box-shadow: var(--box-shadow-block);
  border-radius: var(--radius);
  overflow: hidden;
  margin-bottom: 2rem;
}

.submit-container-content.svelte-3b93of.svelte-3b93of {
  padding: 1.5rem;
}

.reset.svelte-3b93of.svelte-3b93of {
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem;
  cursor: pointer;
}

.reset.svelte-3b93of.svelte-3b93of:hover {
  color: var(--primary);
}

.image-frame.svelte-17r4776.svelte-17r4776 {
  width: 100%;
  height: 0;
  padding-top: 60%;
  position: relative;
}

.image-frame.svelte-17r4776 img.svelte-17r4776 {
  height: 100%;
  width: 100%;
  max-height: 640px;
  object-fit: contain;
  position: absolute;
  top: 0;
  transform: translateX(-10%);
}

@media screen and (max-width: 1200px) {
  .available.svelte-1lyfica.svelte-1lyfica {
    display: none;
  }
}
.item-content.svelte-1lyfica.svelte-1lyfica {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: 1rem;
}

.title.svelte-1lyfica.svelte-1lyfica {
  font-weight: 500;
  font-size: 16px;
}

.value.svelte-1lyfica.svelte-1lyfica {
  font-size: 14px;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.customization-block.svelte-1lyfica.svelte-1lyfica {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-right: 1rem;
  cursor: pointer;
}

.iconContainer.svelte-1lyfica.svelte-1lyfica {
  padding: 1rem;
  flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
  .iconContainer.svelte-1lyfica.svelte-1lyfica {
    padding-left: 0;
  }
}
.active .value.svelte-1lyfica.svelte-1lyfica, .active .title.svelte-1lyfica.svelte-1lyfica {
  color: var(--primary);
}

.active .chvrn {
  transform: rotate(180deg);
}

.customization-block.active path {
  fill: var(--primary);
}

.customization-block.svelte-1lyfica:hover .title.svelte-1lyfica {
  color: var(--primary);
}

.custom-select-container.svelte-1lyfica.svelte-1lyfica {
  height: 24px;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-select-container.svelte-1lyfica .sticker.svelte-1lyfica {
  background: #f6f6f6;
  border-radius: 5px;
  height: 100%;
  pointer-events: none;
  padding: 0 0.5rem;
  right: 32px;
  margin-right: 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #333232;
}

.chvrn {
  cursor: pointer;
  transition: 0.2s all;
}

.radios-wrapper.svelte-r4wg6v {
  grid-column: 1/all;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.preview-image.svelte-1smnfp8 {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.grid-item-wrapper.svelte-1onb9no {
  overflow: hidden;
}

.grid-item.svelte-1onb9no {
  padding: 0.5rem;
  border-radius: 4px;
  transition: 0.2s all;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}

.grid-item.active.svelte-1onb9no {
  border: 1px solid var(--primary);
}

.grid-item.svelte-1onb9no:hover {
  background: rgba(0, 0, 0, 0.02);
}

.title.svelte-1onb9no {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  font-weight: 300;
  margin-top: 0.5rem;
}

.quickship.svelte-1onb9no {
  background: #828282;
  display: flex;
  align-items: center;
  font-size: 0.625rem;
  justify-content: center;
  padding: 0 0.5rem;
  height: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 0.5rem;
  width: min-content;
}

.qctext.svelte-1onb9no {
  margin-left: 0.25rem;
}

.container.svelte-1w37ll3.svelte-1w37ll3 {
  overflow: hidden;
}

.grid.svelte-1w37ll3.svelte-1w37ll3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  transition: 0.2s all;
  max-height: 1000px;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .grid.svelte-1w37ll3.svelte-1w37ll3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 860px) {
  .grid.svelte-1w37ll3.svelte-1w37ll3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 560px) {
  .grid.svelte-1w37ll3.svelte-1w37ll3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.grid.svelte-1w37ll3 > .svelte-1w37ll3 {
  transition: 0.4s all;
}

.grid.grid-hidden.svelte-1w37ll3.svelte-1w37ll3 {
  opacity: 0;
  height: 0px;
  max-height: 50px;
  border: none;
  padding: 0;
  border-bottom: none;
}

.tbs-radio-container.svelte-1rb6iau.svelte-1rb6iau {
  position: relative;
  flex-grow: 1;
}

.tbs-form-label-radio.svelte-1rb6iau.svelte-1rb6iau {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.tbs-input-radio.svelte-1rb6iau.svelte-1rb6iau {
  display: none;
}

.tbs-custom-radio.svelte-1rb6iau.svelte-1rb6iau {
  cursor: pointer;
  height: 100%;
  flex-grow: 1;
  padding: 1rem 1rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  flex-shrink: 0;
  transition: 0.2s all;
  color: var(--text-secondary);
  background: var(--bg-primary);
}

.label-desc.svelte-1rb6iau.svelte-1rb6iau {
  flex-shrink: 1;
  word-wrap: break-word;
  width: calc(100% - 3rem);
}

.tbs-custom-radio.svelte-1rb6iau .tbs-checkmark.svelte-1rb6iau {
  background: var(--border-color);
}

.tbs-checkmark.svelte-1rb6iau.svelte-1rb6iau {
  display: inline-block;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 1px solid var(--primary);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 1rem;
}

.tbs-checkmark_stem.svelte-1rb6iau.svelte-1rb6iau {
  position: absolute;
  width: 2px;
  height: 9px;
  left: 11px;
  top: 6px;
  border-radius: 1px;
}

.tbs-checkmark_tick.svelte-1rb6iau.svelte-1rb6iau {
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: white;
  left: 8px;
  top: 13px;
  border-radius: 1px;
}

.tbs-checkmark_stem.svelte-1rb6iau.svelte-1rb6iau, .tbs-checkmark_tick.svelte-1rb6iau.svelte-1rb6iau {
  background-color: var(--primary);
  transition: 0.1s all;
  opacity: 0.3;
}

.tbs-form-label-radio.svelte-1rb6iau:hover .tbs-custom-radio .tbs-checkmark_stem.svelte-1rb6iau, .tbs-form-label-radio.svelte-1rb6iau:hover .tbs-custom-radio .tbs-checkmark_tick.svelte-1rb6iau {
  opacity: 1;
}

.tbs-input-radio.svelte-1rb6iau:checked + .tbs-custom-radio.svelte-1rb6iau {
  border-color: var(--primary);
}

.tbs-input-radio:checked + .tbs-custom-radio.svelte-1rb6iau .tbs-checkmark.svelte-1rb6iau {
  background: var(--primary);
}

.tbs-input-radio:checked + .tbs-custom-radio.svelte-1rb6iau .tbs-checkmark_stem.svelte-1rb6iau, .tbs-input-radio:checked + .tbs-custom-radio.svelte-1rb6iau .tbs-checkmark_tick.svelte-1rb6iau {
  background: white !important;
  opacity: 1;
}

.tbs-input-radio.svelte-1rb6iau:disabled + .tbs-custom-radio.svelte-1rb6iau {
  cursor: not-allowed;
  background: var(--bg-secondary);
}